.aboutus-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 
.aboutus-container h1 {
  font-size: 2em;
  margin-bottom: 15px;
  color: #f06000;
}
 
.aboutp {
  padding-bottom: 30px;
  filter: brightness(1.2);
  font-size: 0.8em;
  
}
 
.box {
  background-color: #fff1E6;
  padding: 10px;
  display: flex;
  flex-direction: column;
  min-height: 400px;
  min-width: 500px;
  margin: auto;
  margin-top: 10px;
  box-sizing: border-box;
  margin-bottom: 100px;
  justify-content:center;
  align-items: center;
}

.grid_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.aboutus-container h3 {
  padding-bottom: 20px;
}
.aboutus-container p {
  font-size: 1.2em;
  line-height: 1.5;
  margin-bottom: 15px;
  justify-content: center;
  align-items: center;
}
 
.Drive_Image img{
  padding-left: 20px;
  height: auto;
  width: 600px;
}
 
.aboutus-container span {
  color: orange;
}
 
.email-link:hover {
  cursor: pointer;
}
.email-link {
  color: black;
  display: inline-block;
}
.email-logo {
  width: 27px;
  height: 27px;
  margin-bottom: -5px;
  margin-left: 5px;
}
 
.email-link:hover {
  opacity: 0.8;
}
 
/* Responsive Styling */
@media only screen and (max-width: 600px) {
  .aboutus-container {
    padding: 10px;
  }
 
  .aboutus-container h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }
 
  .aboutus-container p {
    font-size: 1em;
    line-height: 1.3;
    margin-bottom: 10px;
  }
}