.book-container {
  max-width: 900px;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
  margin-top: 12vh;
  border : 0.2px solid black;
}

.input-container {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.input-container input,
.input-container button {
margin: 5px;
padding: 10px;
flex: 1 1 200px; /* Adjust the flex basis to control input width */
}

/* Responsive Styling */
@media only screen and (max-width: 600px) {
.input-container input,
.input-container button {
  flex-basis: calc(50% - 10px); /* Two inputs per row */
}
}

@media only screen and (max-width: 400px) {
.input-container input,
.input-container button {
  flex-basis: calc(100% - 10px); /* Full width for inputs on smaller screens */
}
}

.booked-table-container {
margin-top: 20px;
}

.booked-table {
width: 100%;
border-collapse: collapse;
}

.booked-table th,
.booked-table td {
padding: 10px;
border: 1px solid #ddd;
text-align: left;
}

.booked-table th {
background-color: #f2f2f2;
}

.booked-table button {
padding: 5px 10px;
background-color: #007bff;
color: #fff;
border: none;
cursor: pointer;
}

.booked-table button:hover {
background-color: #0056b3;
}

.button {
z-index: 2;
position: relative;
width: 100%;
border: none;
background-color: #f06000;
height: 30px;
color: white;
font-size: .8em;
font-weight: 500;
letter-spacing: 1px;
margin: 10px;
cursor: pointer;
transition: 0.2s ease-in;
}

.button:hover {
background-color: rgb(255, 136, 0);
}